{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load currency_format %}
{% block title %}Pekerjaan Saya{% endblock %}
{% block content %}
{% include 'navbar.html' %}

<div class="work-status-content">
    <div class="navigation">
        <div class="navigation-buttons">
            <button onclick="window.location.href='{% url 'main:show_home_page' %}'" class="navigation-button">
                <div class="home horizontal-stack-info">
                    <img src="https://www.svgrepo.com/show/500894/home.svg" alt="Home" style="width: 20px; height: 20px;">
                    <span>Home</span>
                </div>
            </button>
            <div class="path">
                <img src="https://www.svgrepo.com/show/521479/arrow-next-small.svg" alt="Arrow Next" style="width: 30px; height: 30px; padding-top:0.2rem; filter: invert(88%) sepia(6%) saturate(0%) hue-rotate(180deg) brightness(97%) contrast(87%);">
            </div>
            <button class="navigation-button">
                <div class="order horizontal-stack-info" style="color: #667a7b;">
                    <img src="https://www.svgrepo.com/show/485912/suitcase1.svg" alt="Works" style="width: 20px; height: 20px; filter: invert(42%) sepia(9%) saturate(473%) hue-rotate(152deg) brightness(94%) contrast(87%);">
                    <span>Pekerjaan Saya</span>
                </div>
            </button>
        </div>
    </div>
</div>


<style>
    :root {
        --placeholder-color: #6c757d;
        --text-color: #323031;
    }

    body {
        padding-top: 70px; /* Adjust this value based on the height of your navbar */
    }

    button {
        outline: none;
    }

    .work-status-content {
        padding: 20px;
        margin-top: 20px;
    }

    .work-status-container {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e9f0f1;
        border-radius: 0.5rem;
        width: 100%;  /* Added */
    }

</style>
<script>

</script>
{% endblock %}