{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<div class="profile-content">
    <div class="navigation">
        <div class="navigation-buttons">
            <button onclick="window.location.href='{% url 'main:show_home_page' %}'" class="navigation-button">
                <div class="home horizontal-stack-info">
                    <img src="https://www.svgrepo.com/show/500894/home.svg" alt="Home" style="width: 20px; height: 20px;">
                    <span>Home</span>
                </div>
            </button>
            <div class="path">
                <img src="https://www.svgrepo.com/show/521479/arrow-next-small.svg" alt="Arrow Next" style="width: 30px; height: 30px; padding-top:0.2rem; filter: invert(88%) sepia(6%) saturate(0%) hue-rotate(180deg) brightness(97%) contrast(87%);">
            </div>
            <button onclick="window.location.href='{% url 'profil:profile' %}'" class="navigation-button">
                <div class="home horizontal-stack-info" style="color: #667a7b;">
                    <img src="https://www.svgrepo.com/show/483464/person.svg" alt="Profile" style="width: 15px; height: 15px; filter: invert(42%) sepia(9%) saturate(473%) hue-rotate(152deg) brightness(94%) contrast(87%);">
                    <span>Profile</span>
                </div>
            </button>
        </div>
    </div>
    
    <div class="profile-container">
        <div class="profile-container-content">
            <div class="profile-info">
                <div class="main-info horizontal-stack">
                    <div class="avatar">
                        {% if request.session.user_type == 'pelanggan' %}
                        <div class="profile-picture" style="width: 216px; height: 216px; background-color: #177E89; color: white; font-weight: bold; display: flex; justify-content: center; align-items: center; font-size: 6rem;">
                            {{ request.session.user_name|slice:":1" }}
                        </div>
                        {% elif request.session.user_type == 'pekerja' %}
                        <img src="{{ profile.foto_url }}" 
                            alt="Profile Picture" 
                            class="profile-picture" 
                            style="width: 216px; height: 216px; object-fit: cover;">
                        {% endif %}
                    </div>
                    <div class="text-main-info">
                        <div class="username">
                            <h1>{{ request.session.user_name }}</h1>
                        </div>
                        <div class="mini-infos">
                            <div class="mini-info">
                                <div class="gender-info horizontal-stack-info">
                                    <img src="https://www.svgrepo.com/show/19336/gender-symbols.svg" alt="Gender Symbols" style="width: 15px; height: 15px;">
                                    <span>{{ form.jenis_kelamin.value }}</span>
                                </div>
                            </div>
                            <div class="mini-info">
                                <div class="phone-number-info horizontal-stack-info">
                                    <img src="https://www.svgrepo.com/show/478355/telephone-free.svg" alt="Telephone" style="width: 15px; height: 15px;">
                                    <span>{{ form.no_hp.value }}</span>
                                </div>
                            </div>
                            <div class="mini-info">
                                <div class="birthdate-info horizontal-stack-info">
                                    <img src="https://www.svgrepo.com/show/479401/calendar-4.svg" alt="Birth Date" style="width: 15px; height: 15px;">
                                    <span>{{ form.tgl_lahir.value }}</span>
                                </div>
                            </div>
                            <div class="mini-info">
                                <div class="location-info horizontal-stack-info">
                                    <img src="https://www.svgrepo.com/show/522167/location.svg" alt="Location" style="width: 15px; height: 15px;">
                                    <span>{{ form.alamat.value }}</span>
                                </div>
                            </div>
                        </div>
                        <div class = "p_buttons">
                            {% if request.session.user_type == 'pelanggan' %}
                            <button class="edit-profile" onclick="window.location.href='{% url 'profil:edit_profile' %}'">Update Profile</button>
                            {% elif request.session.user_type == 'pekerja' %}
                            <button class="edit-profile" onclick="window.location.href='{% url 'profil:edit_profile' %}'">Update Profile</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="additional-info">
                    {% if request.session.user_type == 'pelanggan' %}
                    <div class="addt-infos-contents">
                        <div class="profile-item">
                            <span><strong>Saldo MyPay</strong></span>
                            <span style="float: right;">{{ additional_attributes.saldomypay }}</span>
                        </div>
                        <div class="profile-item">
                            <span><strong>Level</strong></span>
                            <span style="float: right;">{{ additional_attributes.level }}</span>
                        </div>
                    </div>
                    {% elif request.session.user_type == 'pekerja' %}
                    <div class="addt-infos-contents row-1" style="margin-bottom: 1.5rem;">
                        <div class="profile-item">
                            <span><strong>Saldo MyPay</strong></span>
                            <span style="float: right;">{{ additional_attributes.saldomypay }}</span>
                        </div>
                        <div class="profile-item">
                            <span><strong>Nama Bank</strong></span>
                            <span style="float: right;">{{ additional_attributes.nama_bank }}</span>
                        </div>
                        <div class="profile-item">
                            <span><strong>Nomor Rekening</strong></span>
                            <span style="float: right;">{{ additional_attributes.no_rekening }}</span>
                        </div>
                    </div>
                    <div class="addt-infos-contents">
                        <div class="profile-item">
                            <span><strong>NPWP</strong></span>
                            <span style="float: right;">{{ additional_attributes.npwp }}</span>
                        </div>
                        <div class="profile-item">
                            <span><strong>Rating</strong></span>
                            <span style="float: right;">{{ additional_attributes.rating }}</span>
                        </div>
                        <div class="profile-item">
                            <span><strong>Jumlah Pesanan Selesai</strong></span>
                            <span style="float: right;">{{ additional_attributes.jumlah_pesanan_selesai }}</span>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        padding-top: 70px; /* Adjust this value based on the height of your navbar */
    }

    button {
        outline: none;
    }

    .profile-content {
        padding: 20px;
        margin-top: 20px;
    }

    .navigation-buttons {
        display: flex;
        margin-bottom: 20px;
    }

    .navigation-button {
        padding: 0.3rem 0.8rem;
        border-radius: 2rem;
        background-color: #e9f0f1;
        width: fit-content;
        display: flex;
        flex-direction: row;
        border: none;
    }

    .profile-container {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e9f0f1;
        border-radius: 0.5rem;
    }

    .profile-container-content {
        padding: 20px;
    }

    .p_buttons {
        margin-top: 1rem; /* Adjust this value to increase the gap */
        display: flex;
        justify-content: left;
    }

    .edit-profile {
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        background-color: #177E89;
        color: white;
        width: fit-content;
        border: none;
    }

    .edit-profile:hover {
        background-color: #084c61;
    }

    .profile-picture {
        border-radius: 200px;
    }

    .username h1 {
        font-size: 75px;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .main-info {
        margin-bottom: 2rem;
    }
    
    .horizontal-stack {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .horizontal-stack-info {
        align-items: center;
        gap: 0.5rem;
    }

    .mini-infos {
        display: flex;
        gap: 0.5rem;
    }

    .mini-info {
        padding: 0.3rem 0.8rem;
        border-radius: 2rem;
        background-color: #f8f9fa;
        width: fit-content;
        display: flex;
        flex-direction: row;
    }

    .gender-info, .phone-number-info, .birthdate-info, .location-info, .home {
        display: flex;
        align-items: center;
    }

    .horizontal-stack-info {
        display: flex;
        align-items: center;
    }

    .additional-info {
        border-radius: 0.5rem;
        background-color: #f8f9fa;
        padding: 20px;
    }

    .addt-infos-contents {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
    }
    .addt-infos-contents .profile-item {
        flex: 1 1 calc(33.333% - 20px); /* Adjust the percentage and gap value as needed */
        box-sizing: border-box;
        padding: 20px;
        border-radius: 0.5rem;
        background-color: #e9f0f1;
    }
</style>
{% endblock %}
