{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 fixed-top">
  <div class="container-fluid">
      <a href="{% url 'main:show_home_page' %}" class="navbar-brand">
        <img src="{% static 'images/sijarta.svg' %}" height="36" alt="Sijarta">
      </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            {% if user.is_authenticated %}
                {% if user.pengguna %}
                    <a href="{% url 'main:show_home_page' %}" class="nav-item nav-link active">Homepage</a>
                    <a href="" class="nav-item nav-link">MyPay</a>
                    <a href="{% url 'main:view_orders' %}" class="nav-item nav-link">Kelola Pesanan Saya</a>
                    <a href="" class="nav-item nav-link">Diskon</a>
                {% elif user.pekerja %}
                    <a href="{% url 'main:show_home_page' %}" class="nav-item nav-link active">Homepage</a>
                    <a href="" class="nav-item nav-link">Kelola Pekerjaan Saya</a>
                    <a href="" class="nav-item nav-link">Kelola Status Pekerjaan</a>
                    <a href="" class="nav-item nav-link">MyPay</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
                {% if user.pengguna %}
                <a href="{% url 'main:profile' %}" class="nav-item nav-link d-flex align-items-center">
                    <div class="rounded-circle d-flex justify-content-center align-items-center" style="width: 36px; height: 36px; background-color: #177E89; color: white; font-weight: bold; font-size: 1rem;">
                      {{ user.pengguna.nama|slice:":1" }}
                    </div>
                  <span class="ms-2">{{ user.pengguna.nama }} (Pengguna)</span>
                </a>
                {% elif user.pekerja %}
                <a href="{% url 'main:profile' %}" class="nav-item nav-link d-flex align-items-center">
                  <img src="{{ user.pekerja.foto_url }}" 
                       class="rounded-circle" 
                       style="width: 36px; height: 36px; object-fit: cover;"
                       alt="{{ user.pekerja.nama }}'s profile picture">
                  <span class="ms-2">{{ user.pekerja.nama }} (Pekerja)</span>
                </a>
                {% endif %}
                <a href="{% url 'main:logout_user' %}" class="nav-item nav-link d-flex align-items-center ms-2">Logout</a>
            {% else %}
                <a href="{% url 'main:login_user' %}" class="nav-item nav-link custom-login-link">Login</a>
                <a href="javascript:void(0);" onclick="openModal()" class="nav-item nav-link custom-register-btn custom-gap">Register</a>
            {% endif %}
        </div>
    </div>
  </div>
</nav>
<style>
  .custom-gap {
    margin-left: 0.5rem;
  }
  .navbar-nav .custom-register-btn {
    width: 100px;
    background-color: #177E89; /* Initial background color */
    color: white; /* Text color */
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-align: center;
    transition: background-color 0.3s ease; /* Smooth transition */
    text-decoration: none; /* Remove underline */
  }

  .navbar-nav .custom-register-btn:hover {
      background-color: #084c61; /* Hover background color */
      color: white; /* Text color stays white */
  }

  .navbar-nav .nav-link {
    font-family: 'Inter', sans-serif;
  }

  .custom-login-link {
    color: #323031;
  }

  .custom-login-link:hover {
    color: #177E89;
  }
</style>
{% endblock %}