<!-- pekerjaanjasa/pekerjaan_jasa.html -->

<!-- Form Filter -->
<form method="GET" action="{% url 'pekerjaan_jasa' %}">
    <div>
        <label for="kategori_jasa">Pilih Kategori:</label>
        {{ form.kategori_jasa }}
    </div>
    <div>
        <label for="subkategori_jasa">Pilih Subkategori:</label>
        {{ form.subkategori_jasa }}
    </div>
    <button type="submit">Filter</button>
</form>

<!-- Daftar Pesanan -->
<h2>Daftar Pesanan</h2>
{% if pesanan_jasa %}
    {% for pesanan in pesanan_jasa %}
        <div>
            <h3>{{ pesanan.id_job }} - {{ pesanan.category.name }} - {{ pesanan.subcategory.name }}</h3>
            <button type="button" onclick="window.location.href='{% url 'kerjakan_pesanan' pesanan.id_job %}'">Kerjakan Pesanan</button>
        </div>
    {% endfor %}
{% else %}
    <p>Tidak ada pesanan yang ditemukan.</p>
{% endif %}
