{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'navbar.html' %}

<!-- Homepage dibedakan 2: Sebelum dan sesudah login -->
<div class="home-content">
    <div class="title">
        <img src="{% static 'images/sijarta.svg' %}" alt="Sijarta" height="120">
        <h5>by basdead</h5>
    </div>
    <div class="buttons">
        {% if user.is_authenticated %}
            <a href="{% url 'main:show_home_page' %}" class="nav-item nav-link custom-home-btn custom-dashboard-btn">Dashboard</a>
        {% else %}
            <a href="javascript:void(0);" onclick="openModal('loginModal')" class="nav-item nav-link custom-home-btn custom-login-btn">Login</a>
            <a href="javascript:void(0);" onclick="openModal('registerModal')" class="nav-item nav-link custom-home-btn custom-register-btn custom-gap">Register</a>
        {% endif %}
    </div>
</div>

{% include 'register.html' %}
{% include 'login.html' %}

<style>
  .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
    gap: 2.5rem; /* Space between elements */
  }

  .buttons {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    gap: 0.5rem; /* Space between buttons */
  }

  .custom-home-btn {
    width: 150px; /* Fixed width for home page buttons */
  }

  .custom-register-btn {
    background-color: #177E89; /* Initial background color */
    color: white; /* Text color */
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }

  .custom-login-btn {
    background-color: #85afb3; /* Initial background color */
    color: white; /* Text color */
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }

  .custom-logout-btn {
    background-color: #d9534f; /* Initial background color */
    color: white; /* Text color */
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }

  .custom-dashboard-btn {
    background-color: #5bc0de; /* Initial background color */
    color: white; /* Text color */
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }

  .custom-register-btn:hover, .custom-login-btn:hover, .custom-logout-btn:hover, .custom-dashboard-btn:hover {
    background-color: #084c61; /* Hover background color */
    color: white; /* Text color stays white */
  }
</style>

<script>
    function openModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.style.display = "block";
    }

    window.onclick = function(event) {
        var registerModal = document.getElementById("registerModal");
        var loginModal = document.getElementById("loginModal");
        if (event.target == registerModal) {
            registerModal.style.display = "none";
        }
        if (event.target == loginModal) {
            loginModal.style.display = "none";
        }
    }
</script>

{% endblock content %}