{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
    <style>
        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80vh;
            background-color: #f9f9f9;
        }
        .login {
            width: 100%;
            max-width: 400px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background: #fff;
            margin-top: -50px;
        }
        .staatliches-regular {
            font-family: "Staatliches", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: xx-large;
            text-align: center;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        .btn-custom {
            background-color: #177E89;
            color: white;
            width: 100%;
            padding: 10px;
            border: none;
            transition: background-color 0.3s ease;
            border-radius: 5px;
            cursor: pointer;
        }
        .btn-custom:hover {
            background-color: #084c61;
        }
        .form-control {
            width: 100%;
            padding: 8px;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .error-message {
            color: red;
            text-align: center;
            margin-top: 10px;
        }
    </style>
{% endblock meta %}

{% block content %}
<div class="center-container">
    <div class="login">
        <h1 class="staatliches-regular">Form Login</h1>
        <form method="POST" action="{% url 'main:login_user' %}">
            {% csrf_token %}
            <div>
                <label for="no_hp">No Hp:</label>
                <input type="text" id="no_hp" name="no_hp" placeholder="No Hp" class="form-control" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
            </div>
            <div>
                <input class="btn btn-custom" type="submit" value="Login">
            </div>
        </form>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
    </div>
</div>
<script>
    var modal = document.getElementById("loginModal");
    var span = document.getElementsByClassName("close")[0];

    function openModal() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock content %}
